
@{
    ViewBag.Title = "FullDetails";
}

<h2>FullDetails</h2>
@{ 
    Html.RenderAction("RenderEmp");
    Html.RenderAction("RenderEdu");
    Html.RenderAction("RenderWrok");
    Html.RenderAction("RenderProject");
    Html.RenderAction("RenderTraining");
}